body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

nav {
    width: 200px; /* Ширина навигационной панели */
    background-color: #333; /* Цвет фона */
    position: fixed; /* Фиксированное положение */
    height: 100%; /* Высота на всю страницу */
}

nav a {
    display: block; /* Блоковый элемент для ссылки */
    color: white; /* Цвет текста */
    padding: 15px; /* Внутренний отступ */
    text-decoration: none; /* Убираем подчеркивание */
}

nav a:hover {
    background-color: #575757; /* Цвет фона при наведении */
}

main {
    margin-left: 220px; /* Отступ для основного контента, чтобы не перекрывался навигацией */
    padding: 20px; /* Внутренний отступ основного контента */
}